<div class="row">
    <!-- <div ngClass="{'card col-md-1': true, 'card bg-warning col-md-1': false}" *ngFor="let nbr of ten"><span class="board-number">{{nbr}}</span></div> -->
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of ten"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of twenty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of thirty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of forty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <p class="game-id">Game: {{gameCount}} </p><span class="game-id" *ngIf="showComplete"> *Completed!* </span>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of fifty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of sixty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of seventy"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div [ngClass]="{ 'even-number-found': gameNumbers.indexOf(nbr) >= 0 && even(nbr), 'odd-number-found': gameNumbers.indexOf(nbr) >= 0 && !even(nbr)}"
        class="card col-md-1" *ngFor="let nbr of eighty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="btn" id="newGameBtn" (click)="resetAndRun()">New Game</div>
</div>
<div class="gifDiv" [@openClose]="gifOpen ? 'open' : 'closed'">
    <img src={{provideGif()}} id="gif">
</div>