<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of ten"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of twenty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of thirty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of forty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row"><hr></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of fifty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of sixty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of seventy"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="card col-md-1" *ngFor="let nbr of eighty"><span class="board-number">{{nbr}}</span></div>
    <div class="col-md-1"></div>
</div>